<div class="homePage">
    <h1>THE STAT APP</h1>
    <h2>Choose Your Sport</h2>

    <div class="container">

        <a href="/teams">
            <div class="sport basketball">Basketball</div>
        </a>

        <a href="#">
            <div class="sport football">Football</div>
        </a>

        <a href="#">
            <div class="sport soccer">Soccer</div>
        </a>

    </div>
</div>