<h1>THE STAT APP</h1>
<h2>Choose Your Sport</h2>

<div class="container">

    <a href="/teams">
        <div class="basketball">Basketball</div>
    </a>

    <a href="#">
        <div class="football">Football</div>
    </a>

    <a href="#">
        <div class="soccer">Soccer</div>
    </a>

</div>