*{
    text-decoration: none;
    color: inherit;
}

body{
    text-align: center;
    background-color: gray;
    color: teal;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sport:hover{
    box-shadow: 0px 0px 20px black;
    background-color: whitesmoke;
    /* background: url("/images/Sportsbackground.jpg"); */
    /* transition-delay: .7s; */
}

.basketball{
    height: 300px;
    width: 300px;
    border: solid whitesmoke;
    border-width: 12px;
    text-align: center;
    border-radius: 21px;
}

.football{
    height: 300px;
    width: 300px;
    border: solid whitesmoke;
    border-width: 12px;
    text-align: center;
    border-radius: 21px;
}
.soccer{
    height: 300px;
    width: 300px;
    border: solid whitesmoke;
    border-width: 12px;
    text-align: center;
    border-radius: 21px;
}

form{
    background-color: black;
    border: solid whitesmoke;
}

ul{
    list-style: none;
    font-size: 30px;
}