<h1>{{player.name}}</h1>
<form method="POST" action="/player/{{ player._id }}?_method=DELETE">
    <input type="submit" value="Delete Player" />
</form>

<form method="POST" action="/player/{{ player._id }}/?_method=PUT">
    <input type="text" name="name" value="" />
    <input type="submit" value="Update Player Name" />
</form>


<h2>Player Stats Below</h2>
<ul>

</ul>

